<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>TMRRWinc | Creative Agency</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css" />
</head>

<body>
  <section class="hero is-fullheight">

      <div class="container is-fluid is-marginless">
      <div class="columns">
        <div class="column is-one-third left-side">

        </div>
        <div class="column is-two-thirds">

        </div>
        </div>
      </div>

  </section>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vide/0.5.1/jquery.vide.min.js"></script>

</body>
</html>
