<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>TMRRWinc | Creative Agency</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css" />
  <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>
  <section class="hero is-fullheight">
    <div class="hero-body" style="padding: 0;">
      <div class="container is-fluid is-marginless" style="height:102vh;">
      <div class="columns" style="height: 102vh">
        <div class="column is-one-third left-side" style="height:102vh">

        </div>
        <div class="column is-two-thirds">



          <svg class="logo font" width="300" height="300" viewBox="0 0 913 426" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <!-- Generator: Sketch 46.2 (44496) - http://www.bohemiancoding.com/sketch -->
              <desc>Created with Sketch.</desc>
              <defs></defs>
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Artboard-6" transform="translate(-93.000000, -101.000000)">
                      <rect id="red-square" fill="#E50069" x="93.7775662" y="101.088089" width="560.622783" height="323.472335"></rect>
                      <polyline id="blue-square" fill="#01B3C4" points="1005.68728 101.132028 1005.68728 424.604363 900.753347 424.604363 900.753347 101.132028 1005.68728 101.132028"></polyline>
                      <polygon id="yellow-square" fill="#FFCC39" points="893.181912 424.604363 663.218688 424.604363 663.218688 101.132028 893.181912 101.132028"></polygon>
                      <text id="TMRRW" class="font" font-family="TradeGothicLT-Bold, TradeGothic LT Bold" font-size="270" font-weight="bold" fill="#FFFFFF">
                          <tspan x="114.24191" y="359.658195">TMRRW</tspan>
                      </text>
                      <text id="INC.-Copy" class="font" font-family="TradeGothicLT-Bold, TradeGothic LT Bold" font-size="72" font-weight="bold" fill="#000000">
                          <tspan x="495.826683" y="525.203269">INC.</tspan>
                      </text>
                  </g>
              </g>
          </svg>

          <h1 class="coming-soon">COMING SOON</h1>

          <p class="paragraph">Stay Tuned. We are currently developing our new website. <br>Like us on Facebook for futher updates!</p>
          <div class="button-container" style="text-align: center;">
          <a href="https://www.facebook.com/TMRRWINC/" class="button is-large is-centered fb-button">FACEBOOK</a>
          </div>

        </div>
        </div>
      </div>
      </div>

  </section>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vide/0.5.1/jquery.vide.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>

<script src="assets/js/main.js" charset="utf-8"></script>

</body>
</html>
